<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/login_action" method="post">
    <label for="">Username</label> 
    <input type="username" name="username">  
    <br>
    <br>
    <label for="">Password</label> 
    <input type="password" name="password">
    <br>
    <br>
    <input type="submit" name="submit">
    </form>
</body>
</html>