<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#country').change(function(){
                var countid=$('#country').val()
            $.ajax({
                url:"{{url_for('getstate')}}",
                data:{'co':countid},
                success:function(data)
                {
                    $('#state').html(data)
                }
            })
        })
        $('#username').change(function(){
                var user=$('#username').val()
            $.ajax({
                url:"{{url_for('checkuser')}}",
                data:{'user':user},
                success:function(data){
                    if(data.valid=='user already exist'){
                        alert('username already exist')
                        $('user').val('')
                    }
                }
                
            })
        })
        })
    </script>
    <body>
    <form action="http://127.0.0.1:5000/register_action" method="post">
        <label for="">Name</label>
        <input type="name" name="name">
        <br>
        <br>
        <input type="radio" name="gender">
        <label for="male">Male</label>
        <br>
        <input type="radio" name="gender">
        <label for="female">Female</label>
        <br>
        <br>
        <label for="">Address</label>
        <textarea name="address" id=""></textarea>
        <br>
        <br>
        <label for="country">country</label>
        <select name="country" id="country">
            <option value="">--select--</option>
            {% for i in n %}
            <option value="{{i.id}}">{{i.countryname}}</option>
            {% endfor %}
        </select>  
        <br>
        <br>
        <label for="state">state</label>
        <select name="state" id="state">
            <option value="">--select--</option>
        </select>  
        <br>
        <br>
        <label for="">phonenumber</label>
        <input type="text" name="phonenumber">
        <br>
        <br>
        <label for="">username</label>
        <input type="text" name="username" id="username">
        <br>
        <br>
        <label for="">password</label>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" name="submit">
        </form>
        
{% if get_flashed_messages() %}
{% for msg in get_flashed_messages() %}
<script>alert('{{msg}}')</script>
{% endfor %}
{% endif %}

</body>
</html>